.c-button {
  background-color: transparent;
  border: none;
  &-large {
    @extend .c-button;
    width: 450px;
    height: 90px;
    margin: 0 auto;
  }
}
.c-button-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  vertical-align: middle;
  border-radius: $radius-button;
  -webkit-transition: $transition-button;
  transition: $transition-button;
  &--submit {
    @extend .c-button-inner;
    color: $color-white;
    text-decoration: none;
    text-shadow: $shadow-button_submit;
    background-color: $color-orange;
    -webkit-box-shadow: $shadow-button_submit;
    box-shadow: $shadow-button_submit;
  }
}

/* smartdevice */
@media screen and (max-width: 667px) {
  .c-button {
    &-large {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;;
      width: 100%;
      height: 60px;
      padding: 0 10px;
    }
  }
}
