.c-card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  height: 185px;
  margin-bottom: $space-s;
  padding: $space-s;
  text-align: center;
  background-color: $color-white;
  border: 1px solid $color-pale_gray;
  -webkit-box-shadow: $shadow-card;
  box-shadow: $shadow-card;
  -webkit-transition: $transition-card;
  transition: $transition-card;
  &:before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  &--comment {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_comment.svg");
    }
    &.is-move {
      -webkit-transform: translate(-650px, 0);
      transform: translate(-650px, 0);
    }
  }
  &--leader {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_leader.svg");
    }
    &.is-move {
      -webkit-transform: translate(-975px, 0);
      transform: translate(-975px, 0);
    }
  }
  &--sort {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_sort.svg");
    }
    &.is-move {
      -webkit-transform: translate(650px, 0);
      transform: translate(650px, 0);
    }
  }
  &--definition {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_definition.svg");
    }
    &.is-move {
      -webkit-transform: translate(-650px, 0);
      transform: translate(-650px, 0);
    }
  }
  &--wireframe {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_wireframe.svg");
    }
    &.is-move {
      -webkit-transform: translate(975px, 0);
      transform: translate(975px, 0);
    }
  }
  &--schedule {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_schedule.svg");
    }
    &.is-move {
      -webkit-transform: translate(650px, 0);
      transform: translate(650px, 0);
    }
  }
  &--html {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_html.svg");
    }
    &.is-move {
      -webkit-transform: translate(-650px, 0);
      transform: translate(-650px, 0);
    }
  }
  &--css {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_css.svg");
    }
    &.is-move {
      -webkit-transform: translate(975px, 0);
      transform: translate(975px, 0);
    }
  }
  &--javascript {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_javascript.svg");
    }
    &.is-move {
      -webkit-transform: translate(650px, 0);
      transform: translate(650px, 0);
    }
  }
  &--cms {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_cms.svg");
    }
    &.is-move {
      -webkit-transform: translate(-650px, 0);
      transform: translate(-650px, 0);
    }
  }
  &--developer {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_developer.svg");
    }
    &.is-move {
      -webkit-transform: translate(-975px, 0);
      transform: translate(-975px, 0);
    }
  }
  &--version {
    @extend .c-card;
    &:before {
      background-image: url("../img/c-card_version.svg");
    }
    &.is-move {
      -webkit-transform: translate(975px, 0);
      transform: translate(975px, 0);
    }
  }
}

/* tablet */
@media screen and (max-width: 950px) {
  .c-card {
    width: calc(50% - 12.5px);
    &:nth-child(odd) {
      margin-right: $space-xs;
    }
    &:nth-child(even) {
      margin-left: $space-xs;
    }
    &--comment {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(200%, 0);
      }
    }
    &--leader {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(-200%, 0);
      }
    }
    &--sort {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(200%, 0);
      }
    }
    &--definition {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(-200%, 0);
      }
    }
    &--wireframe {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(200%, 0);
      }
    }
    &--schedule {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(-200%, 0);
      }
    }
    &--html {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(200%, 0);
      }
    }
    &--css {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(-200%, 0);
      }
    }
    &--javascript {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(200%, 0);
      }
    }
    &--cms {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(-200%, 0);
      }
    }
    &--developer {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(200%, 0);
      }
    }
    &--version {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(-200%, 0);
      }
    }
  }
}

/* smartdevice */
@media screen and (max-width: 667px) {
  .c-card {
    width: 100%;
    height: 185px;
    margin-bottom: $space-xs;
    padding: $space-s;
    &:nth-child(odd) {
      margin-right: 0;
    }
    &:nth-child(even) {
      margin-left: 0;
    }
    &--comment {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
      }
    }
    &--leader {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
      }
    }
    &--sort {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
      }
    }
    &--definition {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
      }
    }
    &--wireframe {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
      }
    }
    &--schedule {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
      }
    }
    &--html {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
      }
    }
    &--css {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
      }
    }
    &--javascript {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
      }
    }
    &--cms {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
      }
    }
    &--developer {
      &.is-move {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
      }
    }
    &--version {
      &.is-move {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .c-card {
    .c-text--medium {
      width: 75%;
      margin: 0 auto;
      text-align: left;
    }
  }
}

@media screen and (max-width: 320px) {
  .c-card {
    .c-text--medium {
      width: 100%;
    }
  }
}
