.c-carousel {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 483px;
  height: 298px;
  margin: 0 $space-xs $space-xs;
  padding: 0 $space-s;
  background-color: $color-white;
  border: 1px solid $color-pale_gray;
  -webkit-box-shadow: $shadow-card;
  box-shadow: $shadow-card;
  &:focus {
    outline: none;
    background: transparent;
  }
}
.c-carousel__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 40px;
}
.c-carousel-detail {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.c-carousel-detail__image {
  width: 100%;
  -webkit-transition: $transition-carousel_mask;
  -o-transition: $transition-carousel_mask;
  transition: $transition-carousel_mask;
}
.c-carousel-detail-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  margin-left: -75%;
  background-color: $color-green;
  -webkit-transition: $transition-carousel_mask;
  -o-transition: $transition-carousel_mask;
  transition: $transition-carousel_mask;
  &:before {
    position: absolute;
    top: 0;
    right: -10px;
    content: "";
    width: 20px;
    height: 40px;
    background-color: $color-green;
    -webkit-box-shadow: $shadow-carousel_arrow;
    box-shadow: $shadow-carousel_arrow;
    -webkit-transform: skewY(-45deg);
    -ms-transform: skewY(-45deg);
    transform: skewY(-45deg);
  }
  &:after {
    position: absolute;
    top: 40px;
    right: 0;
    content: "";
    width: 10px;
    height: 10px;
    background-color: $color-green;
  }
}
.c-carousel-detail-mask__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: inherit;
  margin-top: -.75em;
  padding: 10px $space-xs;
  color: $color-white;
  line-height: 1.4;
}
.c-carousel__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  height: 40px;
}

//ua
.pc .c-carousel-detail:hover {
  .c-carousel-detail-mask {
    margin-left: 0;
  }
  .c-carousel-detail__image {
    margin-left: 75%;
  }
}

/* smartdevice */

//responsive
@media screen and (max-width: 667px) {
  .c-carousel {
    margin: 0 6.25px $space-xs;
    padding: 0 $space-xs;
  }
  .c-carousel__link .c-link--external {
    font-size: $font-s;
    &:after {
      width: 16px;
      height: 16px;
    }
  }
}

//ua
.mobile .c-carousel-detail.is-view {
  .c-carousel-detail-mask {
    margin-left: 0;
  }
  .c-carousel-detail__image {
    margin-left: 75%;
  }
}
