.c-toggle {
  width: 900px;
  height: auto;
  margin: 0 auto;
  border-radius: $radius-button;
  -webkit-box-shadow: $shadow-graph;
  box-shadow: $shadow-graph;
}
.c-toggle__button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  float: left;
  width: 300px;
  height: auto;
  text-align: center;
  border: 1px solid $color-white;
  cursor: pointer;
  a {
    display: table-cell;
    width: inherit;
    height: 60px;
    vertical-align: middle;
  }
  &-01 {
    @extend .c-toggle__button;
    border-radius: $radius-button 0 0 $radius-button;
    border-right: none;
  }
  &-02 {
    @extend .c-toggle__button;
  }
  &-03 {
    @extend .c-toggle__button;
    border-radius: 0 $radius-button $radius-button 0;
    border-left: none;
  }
  &.is-active {
    color: $color-green;
    background-color: $color-white;
  }
}

/* tablet/smartdevice */
@media screen and (max-width: 950px) {
  .c-toggle {
    width: 100%;
  }
  .c-toggle__button {
    width: 100%;
    a {
      height: 45px;
    }
    &-01 {
      border-radius: $radius-button $radius-button 0 0;
      border-right: 1px solid $color-white;
      border-bottom: none;
    }
    &-02 {
      width: 50%;
      border-radius: 0  0 0 $radius-button;
    }
    &-03 {
      width: 50%;
      border-radius: 0 0 $radius-button 0;
    }
  }
}
