.c-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 900px;
  height: auto;
  margin: 0 auto;
  border-radius: $radius-button;
  -webkit-box-shadow: $shadow-graph;
  box-shadow: $shadow-graph;
}
.c-toggle__button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 300px;
  height: auto;
  border: 1px solid $color-white;
  cursor: pointer;
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: inherit;
    height: 60px;
  }
  &-01 {
    @extend .c-toggle__button;
    border-radius: $radius-button 0 0 $radius-button;
    border-right: none;
  }
  &-02 {
    @extend .c-toggle__button;
  }
  &-03 {
    @extend .c-toggle__button;
    border-radius: 0 $radius-button $radius-button 0;
    border-left: none;
  }
  &.is-active {
    color: $color-green;
    background-color: $color-white;
  }
}

/* tablet/smartdevice */
@media screen and (max-width: 950px) {
  .c-toggle {
    width: 100%;
  }
  .c-toggle__button {
    width: 100%;
    a {
      height: 45px;
    }
    &-01 {
      border-radius: $radius-button $radius-button 0 0;
      border-right: 1px solid $color-white;
      border-bottom: none;
    }
    &-02 {
      width: 50%;
      border-radius: 0  0 0 $radius-button;
    }
    &-03 {
      width: 50%;
      border-radius: 0 0 $radius-button 0;
    }
  }
}
