.l-footer {
  height: 50px;
  padding-bottom: $space-m;
  text-align: center;
  background-color: $color-white;
}
.l-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: $space-xs;
}
.l-footer-list__link {
  width: 48px;
  height: 48px;
  a {
    display: block;
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
  }
  &--github {
    @extend .l-footer-list__link;
    a {
      background-image: url("../img/c__link--github.svg");
    }
  }
}
