.l-visual {
  position: fixed;
  top: 0;
  width: 100%;
  height: 315px;
  background: linear-gradient(-45deg, rgba(249, 182, 48, .5), rgba(3, 142, 165, .5)),
url("../img/l-visual.jpg");
}
.l-wrapper {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 315px;
  -webkit-box-shadow: $shadow-wrapper;
  box-shadow: $shadow-wrapper;
}
.l-content {
  width: 100%;
  padding: $space-l 0;
  background-color: $color-white;
}
.l-section {
  margin-bottom: $space-xl;
}
.l-article {
   width: 100%;
   &--emphasis {
     width: 100%;
     color: $color-white;
     background-color: $color-green;
   }
   &-inner {
     width: 950px;
     margin: 0 auto;
     padding: $space-m 0;
   }
}

/* tablet */
@media screen and (max-width: 950px) {
  .l-visual {
    width: 100%;
  }
  .l-article {
    &-inner {
      width: 100%;
    }
  }
}

/* smartdevice */
@media screen and (max-width: 667px) {
  .l-visual {
    width: 100%;
    height: 150px;
  }
  .l-wrapper {
    margin-top: 150px;
  }
  .l-content {
    padding: $space-m 0;
  }
  .l-section {
    margin-bottom: $space-l;
  }
  .l-article {
     &-inner {
       width: 100%;
       padding: $space-s 0;
     }
  }
}
