.p-carousel {
  position: relative;
  width: 100%;
  opacity: 0;
  -webkit-transition: $transition-carousel;
  -o-transition: $transition-carousel;
  transition: $transition-carousel;
}
.p-carousel.slick-initialized {
  opacity: 1;
}
