.p-heading {
  margin-bottom: $space-m;
  & > .c-heading--large {
    text-align: center;
  }
  & > .c-text--medium {
    text-align: center;
  }
}
/* smartdevice */
@media screen and (max-width: 667px) {
  .p-heading {
    width: 75%;
    margin: 0 auto;
    margin-bottom: $space-s;
    padding: 0 $space-xs;
    & > .c-text--medium {
      text-align: left;
    }
    br {
      display: none;
    }
  }
}
