.p-visual {
  display: table;
  width: 950px;
  height: inherit;
  margin: 0 auto;
}
.p-visual__title {
  display: table-cell;
  height: inherit;
  color: $color-white;
  text-align: center;
  vertical-align: middle;
  & > .c-heading--xlarge {
    display: block;
  }
  & > .c-text--xlarge {
    display: block;
  }
}

/* smartdevice */
@media screen and (max-width: 667px) {
  .p-visual {
    display: table;
    width: 100%;
    height: inherit;
    margin: 0 auto;
  }
  .p-visual__title {
    display: table-cell;
    height: inherit;
    color: $color-white;
    text-align: center;
    vertical-align: middle;
    & > .c-heading--xlarge {
      display: block;
      font-size: 36px;
    }
    & > .c-text--xlarge {
      display: block;
      font-size: 14px;
    }
  }
}
