/* Dots */
.slick-dots.slick-slider {
  margin-bottom: 0;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 10px;
  margin-top: -10px;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 $space-xs;
  cursor: pointer;
}
.slick-dots li button {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: '';
  text-align: center;
  border-radius: 5px;
  background-color: $color-dark_gray;
}
.slick-dots li.slick-active button:before {
  background-color: $color-green;
}

/* Arrows */
.slick-prev,
.slick-next {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-top: -7.5px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  opacity: .75;
}

.slick-prev {
  left: 20px;
}
[dir='rtl'] .slick-prev {
  right: 20px;
  left: auto;
}
.slick-prev:before {
  display: block;
  width: 30px;
  height: 30px;
  content: '';
  background-image: url("../img/c-carousel_prev.svg");
  background-size: 100% 100%;
  border-radius: 50%;
  -webkit-box-shadow: $shadow-carousel_arrow;
  box-shadow: $shadow-carousel_arrow;
  -webkit-transition: $transition-carousel_arrow;
  -o-transition: $transition-carousel_arrow;
  transition: $transition-carousel_arrow;
}
[dir='rtl'] .slick-prev:before {
  background-image: url("../img/c-carousel_next.svg");
}

.slick-next {
  right: 20px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: 20px;
}
.slick-next:before {
  display: block;
  width: 30px;
  height: 30px;
  content: '';
  background-image: url("../img/c-carousel_next.svg");
  background-size: 100% 100%;
  border-radius: 50%;
  -webkit-box-shadow: $shadow-carousel_arrow;
  box-shadow: $shadow-carousel_arrow;
  -webkit-transition: $transition-carousel_arrow;
  -o-transition: $transition-carousel_arrow;
  transition: $transition-carousel_arrow;
}
[dir='rtl'] .slick-next:before {
  background-image: url("../img/c-carousel_prev.svg");
}
